.footer__column-links {
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

