.header__title {
  width: 730px;
  text-align: left;
  margin-left: 64px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 3;
}
